.container {
    min-width: 1500px;
    margin: 0 auto;
}

.header-wrap {
    min-height: 100px;
    background: #BC8F8F;
}

.wrap-goods {
    display: flex;
    justify-content: center;
    width: 100%;
}

.goods-list {
    margin: 50px;
}

.goods-item {
    width: 300px;
    border: 2px solid #f8f8f8;
    position: relative;
    margin: 25px;
}

.cart-button {
    border: 3px solid #F1E8E4;
    background-color: #BC8F8F;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 16px;
    outline: none;
    margin: 25px 40px 25px 25px;
}

.search-button {
    border: 3px solid #F1E8E4;
    background-color: #BC8F8F;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 16px;
    outline: none;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    margin: 25px 40px 25px 25px;
}

.search-input {
    width: 346px;
    height: 25px;
}

.posts-news-wrap-img {
    width: 300px;
    height: 180px;
    display: block;
}

.posts-news-info {
    background-color: #F1E8E4;
    padding: 30px 44px 28px 29px;
}

.posts-news-info-title {
    color: #555555;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 19px 0;
}

.posts-news-info-paragraf {
    color: #8c8c8c;
    font-size: 16px;
    margin: 0 0 29px;
}

.read-buttom {
    border: 3px solid #F1E8E4;
    background-color: #BC8F8F;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 16px;
    outline: none;
}

.cart-block {
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 34px;
    top: 100px;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 320px;
}

.invisible {
    display: none;
}

.cart-block:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.product-bio {
    display: flex;
}

.cart-item img {
    align-self: flex-start;
    margin-right: 15px;
}

.product-single-price {
    color: #474747;
    font-size: 0.5em;
}

.product-price {
    margin-left: 30px;
}

.product-desc {
    max-width: 150px;
}

.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}

.right-block {
    margin: auto;
    float: right;
    text-align: right;
    width: 100%;
}